/* ------------------------------ */
/* ----------- layout ----------- */
/* ------------------------------ */
main {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}
h1 {
  font-size: 1.2em;
}
p {
  margin: 0;
}

/* ------------------------------ */
/* ----------- module ----------- */
/* ------------------------------ */

.cube {
  max-width: 200px;
  border: black solid 1px;
}

/* ------------------------------ */
/* ----------- utility ---------- */
/* ------------------------------ */
.mt16 {
  margin-top: 16px;
}