/* ------------------------------ */
/* ----------- layout ----------- */
/* ------------------------------ */
body.flex {
  display: flex;
  flex-direction: column;
}

/* ------------------------------ */
/* ----------- module ----------- */
/* ------------------------------ */
.hd {
  margin-top: 2em;
  font-size: 1.2em;
}

.cube {
  max-width: 200px;
  border: black solid 1px;
}

/* ------------------------------ */
/* ----------- utility ---------- */
/* ------------------------------ */
.mt0 {
  margin-top: 0;
}